body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#finder {
  padding-top: 20px;
  background-color: rgba(255,255,255,0.7);
}

#flight-info {
  // margin-top: 20px;
  background-color: rgba(255,255,255,0.7);
}

#results {
  padding-top: 20px;
  background-color: rgba(255,255,255,0.7);
}

#booking {
  padding-top: 20px;
  background-color: rgba(255,255,255,0.7);
}