// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  text-align: center;
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 20px;
}

.flight-radio {
  text-align: center;
}

#main-flight-info {
  text-align: center;
  padding-bottom: 10px;
}

thead {
  background-color: lightgrey;
  font-weight: bold;
  font-size: 16px;
}